* {
  box-sizing: border-box;
}

.headlines {
color: green;
border: dashed;
font-weight: 200;
line-height: 3rem;
font-size: 2rem;
padding: 1rem;
}

.topimage {  
width: 100%;
}

.foodflex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  }

@media (min-width: 700px){
  .foodflex {
    flex-wrap: nowrap;
    }
}
  

.container_item{
display: inline-block;
}


img {
margin: 0;
width: 20%;
}


body {
  display: grid;
  grid-template-columns: 1rf;
  grid-template-rows: 1rf auto 1rf;
  justify-items: center;
  align-items: center;
  background-color: beige;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

main {
display: flex;
flex-direction: column;
align-items: center;
}

li {
  color: blueviolet;
}

table {
  border: dotted;
  border-color: red;
  margin: 0.5rem;
}

tr {
  border: dotted;
  border-color: salmon;
  margin: 0.5rem;
}

td {
  border: solid;
  border-color: lightpink;
  padding: 2rem;
}